<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tasklist.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tasklist.description %>
</p>

<%= link_to 'Edit', edit_tasklist_path(@tasklist) %> |
<%= link_to 'Back', tasklists_path %>
